@import url("https://fonts.googleapis.com/css?family=Inconsolata|Nunito:400,700");

colordarkgreen = #8b9285
colorgreen = #5abb0c
colorlightgray = #2c3e50

html, body {
    font-family: "Nunito";
}
.page {
    //padding-left: 11rem;
}
.theme-default-content.content__default {
    max-width: 100%;
}
.sidebar{
    background: whitesmoke;
    width: 20rem !important;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.15rem;
}
h1 {
    font-size: 1.5rem;
}
.page p, .page table tr td, .page ul, .page ol {
    font-family: "Inconsolata";
}
a {
    color: blue !important;
}
a.sidebar-link {
    color: colorlightgray!important;
}
a.sidebar-link.active, .header-anchor {
    color: colorgreen !important;
}
.site-name{
    color: colorgreen !important;
}
.search-box input{
    font-family: "Inconsolata";
    width: 20rem !important;
    border: 1px solid colordarkgreen !important;
    color: colorlightgray!important;
}

div[class*="language-"] {
    border-radius: 3px !important;
    background: whitesmoke !important;
}
pre {
    border-radius: 3px !important;
    background: #4e4a4a !important;
}